<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Walidator haseł</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container-sm text-center">
    <h1>Sprawdź siłę hasła</h1>
    <p><i class="bi bi-file-lock2" style="font-size: 4rem;"></i></p>
    <form th:action="@{/validate}" method="post" class="mb-3">
        <div class="mb-3">
            <input name="password" th:value="${password}" placeholder="Wprowadź hasło">
        </div>
        <button class="btn btn-dark">Sprawdź</button>
    </form>
    <ul th:if="${violations}" class="list-group">
        <li th:each="violation: ${violations}"
            th:text="${violation}"
            class="list-group-item">
            Złamana reguła
        </li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
