<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>JavaCzat</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <meta charset="UTF-8">
</head>
<body>
<header>
    <h1>Witaj na JavaCzacie v2!</h1>
    <p>Poniżej widzisz ostatnie wiadomości</p>
    <p>Pełną historię czata znajdziesz <a href="#" th:href="@{/history}">tutaj</a>.</p>
</header>
<main>
    <p>
        <a href="#" th:href="@{/}">Zobacz aktualne wiadomości</a>
    </p>
    <ul class="message-list" th:remove="all-but-first" th:fragment="message-list">
        <li class="message"
            th:each="msg: ${messages}"
            th:object="${msg}">
            <span class="time" th:text="*{#temporals.format(time, 'yyyy-MM-dd HH:mm:ss')}">
                2024-05-15 09:26:13
            </span>
            <span class="separator"> : </span>
            <span class="author" th:text="*{author}">piotrek</span>
            <span class="separator"> : </span>
            <span class="content" th:text="*{message}">elegancko, powodzenia :)</span>
        </li>
        <li>2024-05-15 09:26:13: karol : siemka. Uczę się Javy, nieźle mi idzie.</li>
        <li>2024-05-15 09:26:13: marcin : cześć chłopaki! co słychać?</li>
    </ul>
    <form action="" method="post">
        <textarea name="message" placeholder="Twoja wiadomość" rows="5" required></textarea>
        <input name="author" placeholder="Twoja nazwa" required>
        <button>Wyślij</button>
    </form>
</main>
</body>
</html>
